<template>
  <div class="form-field" style="margin-top: 1rem;">
    <div
      v-if="fieldType === 'text'"
      class="input-field"
      :class="[normalizedData.wrapperStyle.class]"
      :style="[normalizedData.wrapperStyle.style]"
    >
      <i class="material-icons prefix" v-if="normalizedData.icon">{{ normalizedData.icon }}</i>
      <input
        type="text"
        v-model="content"
        :id="normalizedData.name.toLowerCase()"
        :class="[normalizedData.fieldStyle.class, validationError ? 'invalid' : 'valid']"
        :style="[normalizedData.fieldStyle.style]"
        :placeholder="normalizedData.placeholder"
      />

      <label
        v-if="normalizedData.label && normalizedData.showLabel"
        :for="normalizedData.name.toLowerCase()"
      >{{ normalizedData.label }}</label>
      <span
        class="helper-text"
        :data-error="normalizedData.validity.showError ? validationError : ''"
        :data-success="normalizedData.validity.showSuccess && isTyping ? 'Correct' : ''"
      >{{ normalizedData.helperText }}</span>
    </div>
    <div
      v-else-if="fieldType === 'email'"
      class="input-field"
      :class="[normalizedData.wrapperStyle.class]"
      :style="[normalizedData.wrapperStyle.style]"
    >
      <i class="material-icons prefix" v-if="normalizedData.icon">{{ normalizedData.icon }}</i>
      <input
        type="email"
        v-model="content"
        :id="normalizedData.name.toLowerCase()"
        :class="[normalizedData.fieldStyle.class, validationError ? 'invalid' : 'valid']"
        :style="[normalizedData.fieldStyle.style]"
        :placeholder="normalizedData.placeholder"
      />

      <label
        v-if="normalizedData.label && normalizedData.showLabel"
        :for="normalizedData.name.toLowerCase()"
      >{{ normalizedData.label }}</label>
      <span
        class="helper-text"
        :data-error="normalizedData.validity.showError ? validationError : ''"
        :data-success="normalizedData.validity.showSuccess && isTyping ? 'Correct' : ''"
      >{{ normalizedData.helperText }}</span>
    </div>
    <div
      v-else-if="fieldType === 'number'"
      class="input-field"
      :class="[normalizedData.wrapperStyle.class]"
      :style="[normalizedData.wrapperStyle.style]"
    >
      <i class="material-icons prefix" v-if="normalizedData.icon">{{ normalizedData.icon }}</i>
      <input
        type="text"
        v-model="content"
        :id="normalizedData.name"
        :class="[normalizedData.fieldStyle.class, validationError ? 'invalid' : 'valid']"
        :style="[normalizedData.fieldStyle.style]"
        :placeholder="normalizedData.placeholder"
      />

      <label
        v-if="normalizedData.label && normalizedData.showLabel"
        :for="normalizedData.name"
      >{{ normalizedData.label }}</label>
      <span
        class="helper-text"
        :data-error="normalizedData.validity.showError ? validationError : ''"
        :data-success="normalizedData.validity.showSuccess && isTyping ? 'Correct' : ''"
      >{{ normalizedData.helperText }}</span>
    </div>
    <select-field
      v-else-if="normalizedData.type === 'select'"
      :isMulti="normalizedData.isMulti"
      :data="normalizedData"
      v-model="content"
      :error="validationError"
    />
  </div>
</template>

<script>
import selectField from "./selectField.component";
export default {
  name: "FieldForm",
  components: {
    selectField
  },
  props: {
    fieldType: {
      type: String,
      default: ""
    },
    index: {
      type: Number,
      default: Math.random()
    },
    data: {
      type: Object,
      default: () => ({})
    }
  },

  data() {
    return {
      content: "",
      validated: false,
      validationRules: [],
      validationError: "",
      isTyping: false
    };
  },
  watch: {
    content: function() {
      // Set is typing to true
      this.isTyping = true;
      this.updateInput();
    }
  },

  mounted() {
    this.content = this.normalizedData.value;
    this.getValidationRules();
    this.updateInput(false);
  },
  computed: {
    normalizedData: function() {
      return Object.assign(
        {
          name: `input_label_${this.index.toFixed(3)}`,
          label: "Label",
          placeholder: "",
          type: "text",
          isMulti: false,
          isValid: true,
          showLabel: true,
          value: "",
          validation: "required",
          wrapperStyle: {
            class: "col s12",
            style: {}
          },
          fieldStyle: {
            class: "",
            style: {}
          },
          validity: {
            showSuccess: true,
            showError: true
          },

          helperText: "",
          icon: "",
          options: [
            {
              text: "",
              value: ""
            }
          ]
        },
        this.data
      );
    }
  },
  methods: {
    getValidationRules() {
      if (this.normalizedData.validation) {
        this.validationRules = this.normalizedData.validation.split("|");
      }
    },

    updateInput() {
      const contentObject = {
        name: this.normalizedData.name,
        content: this.content,
        valid: this.validateChecker()
      };

      this.$emit("update", contentObject);
    },

    emailValidator(email) {
      // Regular expression for email
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email.toLowerCase());
    },

    validateChecker() {
      var valid = false;
      if (!this.isTyping) return;

      // Is type number
      if (this.normalizedData.type === "number") {
        // Only accept numbers
        this.content = this.content.replace(/[^0-9]/g, "");
      }

      for (let index = 0; index < this.validationRules.length; index++) {
        const rule = this.validationRules[index];

        // Loop through given validation rules

        // REQUIRED RULE
        if (rule === "required") {
          if (this.content.length > 0) {
            // Update the validity of form field
            this.$emit("update:isValid", true);
            this.validationError = "";
            // valid = true;
          } else {
            // valid = false;
            // Update the validity of form field
            this.$emit("update:isValid", false);
            this.validationError = "Required";
            break;
          }
        }

        // MIN RULE
        if (rule.includes("min:")) {
          // Get min Length from string
          const minLength = parseInt(rule.trim().substr(4));

          if (this.content.length >= minLength) {
            // Update the validity of form field
            this.$emit("update:isValid", true);
            this.validationError = "";
          } else {
            // Update the validity of form field
            this.$emit("update:isValid", false);
            this.validationError = `Minimum  of ${minLength} character(s)`;
            break;
          }
        }

        // MAX RULE
        if (rule.includes("max:")) {
          // Get max Length from string
          const maxLength = parseInt(rule.trim().substr(4));

          if (this.content.length <= maxLength) {
            // valid = true;
            this.$emit("update:isValid", true);
            this.validationError = "";
          } else {
            // valid = false;
            this.$emit("update:isValid", false);
            this.validationError = `Maximum of ${maxLength} character(s)`;
            break;
          }
        }

        // EMAIL RULE
        if (rule === "email") {
          // Is the given email formatted correctly
          if (this.emailValidator(this.content)) {
            this.$emit("update:isValid", true);
            this.validationError = "";
          } else {
            this.$emit("update:isValid", false);
            this.validationError = `Invalid email format`;
            break;
          }
        }
      }

      return valid;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>