<template>
  <div>
    <div class="input-field" :class="[data.wrapperStyle.class]" :style="[data.wrapperStyle.style]">
      <i class="material-icons prefix" v-if="data.icon">{{ data.icon }}</i>
      <select
        v-if="!isMulti"
        :class="[data.fieldStyle.class]"
        :style="[data.fieldStyle.style]"
        v-model="content"
        :id="data.name.toLowerCase()"
        @change="updateValue()"
      >
        <option
          :value="option.value"
          v-for="(option,index) in data.options"
          :key="index"
          :disabled="option.value === null"
        >{{ option.text}}</option>
      </select>

      <select
        v-else
        :class="[data.fieldStyle.class]"
        :style="[data.fieldStyle.style]"
        v-model="content"
        :id="data.name.toLowerCase()"
        @change="updateValue()"
        multiple
      >
        <option
          :value="option.value"
          v-for="(option,index) in data.options"
          :key="index"
          :disabled="option.value === null"
        >{{ option.text}}</option>
      </select>
      <label v-if="data.showLabel" :for="data.name.toLowerCase()">{{data.label}}</label>
      <span class="helper-text" :data-error="error" data-success="Correct">{{ data.helperText }}</span>
    </div>
  </div>
</template>
<script>
import M from "materialize-css";
export default {
  name: "selectField",
  props: {
    value: null,
    isMulti: {
      props: Boolean,
      type: false
    },
    data: {
      type: Object,
      default: () => ({})
    },
    error: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      content: this.data.value,
      selectInstances: false
    };
  },
  mounted() {
    // this.dataValues = !this.isMultiple ? this.dataOptions.values : [];
    // console.log(this.content);
    setTimeout(() => {
      this.$_initFormFields();
    });
  },
  beforeDestroy() {
    this.selectInstances ? this.selectInstances.destroy() : false;
  },
  methods: {
    updateValue() {
      this.$emit("input", this.content);
      setTimeout(() => {
        !this.isMulti ? this.selectInstances.dropdown.close() : false;
      }, 90);
    },
    // $_updateValuesWeb() {
    //   this.$emit("update", {
    //     values: this.dataValues,
    //     property: this.dataOptions.input_prop
    //   });
    //   setTimeout(() => {
    //     !this.isMultiple ? this.selectInstances.dropdown.close() : false;
    //   }, 90);
    // },
    $_initFormFields() {
      const elems = this.$el.querySelector("select");
      const options = {
        dropdownOptions: {
          closeOnClick: false
        }
      };
      this.selectInstances = M.FormSelect.init(elems, options);
    }
  }
};
</script>