<template>
  <div id="app">
    <div class="row">
      <form-field
        v-for="(data,index) in formFieldData"
        :key="index"
        :field-type="data.type"
        :data="data"
        :is-valid.sync="data.isValid"
        @update="updateUserData"
      />
    </div>

    <div style="padding: 1rem 2rem" @click="showData()">Show Me</div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import FormField from "@/components/FormField.vue";
import SelectField from "@/components/selectField.component.vue";
import { userForm } from "@/forms/formObject.js";
export default {
  name: "App",
  components: {
    FormField,
    SelectField
  },
  data() {
    return {
      formFieldData: userForm,

      userData: {}
    };
  },
  mounted() {},
  methods: {
    showData() {
      // Is all field valid
      if (
        this.formFieldData.filter(item => item.isValid).length !==
        this.formFieldData.length
      )
        return;
      console.log(this.userData);
    },
    updateUserData(data) {
      // Update field data
      this.userData[data.name] = data.content;
    }
  }
};
</script>

<style >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
